@model IList<AglTest.Models.PeopleInfo>

@{
    ViewData["Title"] = "People";
}

<h2>People</h2>

<table>
    <tr>


        <th>Male</th>

    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        @foreach (var item in Model)
        {
            <tr>


                @if (item.pets != null && item.gender == "Male")

                {
                    @foreach (var item1 in item.pets)
                    {
                        @if (item1.type == "Cat")
                        {
                            <td>
                                @Html.DisplayFor(m => item1.name)
                            </td>
                        }
                    }
                }

            </tr>

        }
        break;
    }
    <tr>


        <th>Female</th>

    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        @foreach (var item in Model)
        {
<tr>


    @if (item.pets != null && item.gender == "Female")

    {
        @foreach (var item1 in item.pets)
        {
            @if (item1.type == "Cat")
            {
                <td>
                    @Html.DisplayFor(m => item1.name)
                </td>
            }
        }
    }

</tr>

        }
        break;
    }


</table>
